{% extends "network/layout.html" %}

{% block body %}
    <h1 class="ml-3">Posts From Your Favs</h1>
    {% for post in posts %}
        <div class="border rounded mx-4 mb-2 p-4">
            <h3><a href="{% url 'profile' post.user.username %}">{{ post.user.username }}</a></h3>
            <p>{{ post.content}}</p>
            <p>{{ post.created }}</p>
            <p>🤍/❤️ {{ post.likes }}</p>
        </div>
    {% empty %}
        <h6>The users you follow have not made any posts yet</h6>
    {% endfor %}
{% endblock %}