{% extends "network/layout.html" %}

{% block body %}

    <h1 class="ml-3">All Posts</h1>
    {% if user.is_authenticated %}
        <div class="border rounded mx-4 mb-2 p-4">
            <h3>New Post</h3>
            <form action="{% url 'post' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <textarea autofocus class="form-control" name="content" rows="4"></textarea>
                </div>
                <input class="btn btn-primary" type="submit" value="Post">
            </form>
        </div>
    {% endif %}
    {% for post in page_obj %}
        <div class="border rounded mx-4 mb-2 p-4">
            <h3><a href="{% url 'profile' post.user.username %}">{{ post.user.username }}</a></h3>
            {% if post.user == request.user %}
                <button class="edit btn btn-warning" data-id="{{ post.id }}">Edit</button>
            {% endif %}
            <p data-content="{{ post.id }}">{{ post.content}}</p>
            <form hidden class="mt-3" data-update="{{ post.id }}" action="{% url 'update' user_id=post.user.id post_id=post.id page='index' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <textarea data-textarea="{{ post.id }}" class="form-control" name="content" rows="4">{{ post.content }}
                    </textarea>
                </div>
                <input data-save="{{ post.id }}" class="btn btn-success" type="submit" value="Save">
            </form>
            <p>{{ post.created }}</p>
            {% if user in post.user_likes.all %}
                <p><span class="btn dislike" data-like="{{ post.id }}">❤️</span><span data-count="{{ post.id }}">{{ post.likes }}</span></p>
            {% else %}
                <p><span class="btn like" data-like="{{ post.id }}">🤍</span><span data-count="{{ post.id }}">{{ post.likes }}</span></p>
            {% endif %}
        </div>
    {% endfor %}
    <div class="pagination my-4 d-flex justify-content-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}