{% extends "network/layout.html" %}

{% block body %}
    {% if not profileOwner %}
        <h2 class="ml-3">User does not exist</h2>
    {% else %}
        <h1 class="ml-3">{{ profileOwner.username | capfirst }}'s Profile</h1>
        {% if user.is_authenticated and currentUser == False %}
            {% if user in profileOwner.following.all %}
                <a href="{% url 'follow' user_id=profileOwner.id %}" class="ml-5 btn btn-danger">Unfollow</a>
            {% else %}
                <a href="{% url 'follow' user_id=profileOwner.id %}" class="ml-5 btn btn-success">Follow</a>
            {% endif %}
        {% endif %}
        <h3 class="ml-3">Following - {{ profileOwner.followers.count }}</h3>
        <h3 class="ml-3">Followers - {{ profileOwner.following.count }}</h3>
        <h3 class="ml-3">Posts</h3>
        {% for post in posts %}
            <div class="border rounded mx-4 mb-2 p-4">
                <h3>{{ post.user.username }}</h3>
                {% if currentUser == True %}
                    <button class="edit btn btn-warning" data-id="{{post.id}}">Edit</button>
                {% endif %}
                <p data-content="{{ post.id }}">{{ post.content}}</p>
                <form hidden class="mt-3" data-update="{{ post.id }}" data-page="profile" action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea autofocus class="form-control" name="content" rows="4">{{ post.content }}
                        </textarea>
                    </div>
                    <input data-save="{{ post.id }}" class="btn btn-success" type="submit" value="Save">
                </form>
                <p>{{ post.created }}</p>
                <p>🤍/❤️ {{ post.likes}}</p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}